templates/java5_2_tier/conf/conf-general/lib.dtd

<!ELEMENT libs (noInclude,war,ear)>
<!ELEMENT noInclude (lib|localLib)*>
<!ELEMENT war (lib|localLib)*>
<!ELEMENT ear (lib|localLib)*>
<!ELEMENT lib (#PCDATA)>
<!ATTLIST lib version CDATA #IMPLIED>
<!ATTLIST lib file CDATA #IMPLIED>
<!ATTLIST lib url CDATA #IMPLIED>
<!ELEMENT localLib (#PCDATA)>
<!ATTLIST localLib file CDATA #REQUIRED>